@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rowdies:wght@300&family=Shrikhand&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style-type: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: rgb(45,76,169);
    background: radial-gradient(circle, rgba(45,76,169,1) 0%, rgba(34,37,42,1) 100%);
    color: white;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky{
    background: navy;
}
.logo{
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    cursor: default;
}
b{
    color: aqua;
}
.navbar a{
    font-size: 1.7rem;
    color: white;
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover, 
.navbar a.active{
    color: aqua;
}

#menu-icon{
    font-size: 3.6rem;
    color: white;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home-content h3{
    font-size: 30px;
    color: white;
    margin-top: -10px;
    font-family: 'Shrikhand', cursive;
}
.home-content h2{
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.home-content h1{
    font-size: 60px;
    font-weight: 700;
    color: #00ffff;
    margin-top: -30px;
    text-transform: uppercase;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #00ffff;
    box-shadow: 0 0 1rem aqua;
    color: #232936;
    border: transparent;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: aqua;
    border-radius: 4rem;
    box-shadow: 0 0 1rem aqua;
    font-size: 1.6rem;
    color: #232936;
    letter-spacing: .1rem;
    font-weight: 600;
}
.btn:hover{
    box-shadow: none;
}

/**about section design**/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #232936;
}
.about-content img{
    width: 40vw;
    margin-right: 20px;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h4{
    text-align: left;
    line-height: 1.2;
}
.about-content h1{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

/**skills**/
.skill h4{
    margin-bottom: 5rem;
}
.skill-content{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.skill-content .skill-box{
    flex: 1 1 30rem;
    background: #232936;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #232936;
    transition: .5s ease;
}
.skill-content .skill-box:hover{
    font-weight: 800;
    background-image: url(web-dev.jpg);
    background-repeat: round;
    background-blend-mode:hard-light;
    background-size: 100%; 
    border-color: aqua;
    box-shadow: 0 0 1rem aqua;
    transform: scale(1.02);
}
.skill-box i{
    font-size: 7rem;
    color: aqua;
}
.skill-box h3{
    font-size: 2.6rem;
}
.skill-box ul{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.skill-box li{
    list-style-type: square;
    list-style-position:outside;
    margin-left: 20px;
}
.about .subject{
    font-size: 17px;
    font-weight: thin;
    color: white;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.progress-bar{
    width: 100%;
    height: 16px;
    background-color: #2b2a2f;
    padding: 4px 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;
}
.progress-line{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: goldenrod;
    box-shadow: -1px -1px 2px #222222
                1px 1px 2px #111111;
    border-radius: 15px;
}
.progress-line::after
{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0px;
    transform: translateX(-50%);
    color: #aaabb0;
    font-size: 15px;
}
.about-content h2{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
/**contact us*/
.contact{
    background: #232936;
}
.contact h4{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: navy;
    background: white;
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}


/*footer*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-icon-top a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #00ffff;
    border-radius: .8rem;
    transition: .5s;
}
.footer-icon-top a:hover{
    box-shadow: 0 0 1rem #00ffff;
}
.footer-icon-top a i{
    font-size: 2.4rem;
    color: #232936;
}
.btn-submit{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: aqua;
    border-radius: 4rem;
    box-shadow: 0 0 1rem aqua;
    font-size: 1.6rem;
    color: #232936;
    letter-spacing: .1rem;
    font-weight: 600;
}
.btn-submit:hover{
    box-shadow: none;
}


@media(max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem 3%;
    }
    .skill{
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #232936;
        border-top: .1rem solid rgba (0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem rgba (0, 0, 0, 0.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h2{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
        margin-top: -10px;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about img{
        width: 70vw;
        margin-top: 4rem;
    }
    .skill h4{
        margin-bottom: 3rem;
    }
}
@media (max-width : 450px) {
    html{
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width : 365px) {
    html{
        font-size: 50%;
    }
    .home-img img{
        width: 90vw;
    }
    .about img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
